* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
}

#root {
    display: flex;
}

.clear {
    clear: both;
}

.checked {
    color: red;
}

.active {
    background-color:#00DBDE;
    color: #000 !important;
}

.hidden {
    display: none !important;
}

#root {
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(30,33,33,1) 68%);
}

#app {
    /* width: 100%; */
    height: 100%;
    max-height: 600px;
    max-width: 350px;
    min-height: 600px;
    min-width: 350px;
    border-radius: 16px;
    background-color: #00DBDE;
    background-image: linear-gradient(135deg, #00DBDE 0%, #FC00FF 100%);
}

.header {
    height: auto;
    width: 100%;
    text-align: center;
}
.heading {
    color: red;
    font-size: 20px;
}

.header > div {
    padding: 8px 24px 0 24px;
}

.header-info div {
    margin-top: 8px;
}

.content {
    padding: 16px;
}

.cd {
    /* display: flex; */
    width: 200px;
    /* height: 250px; */
    margin: auto;
}

.cd-thumb {

    width: 100%;
    /* height: 100%; */
    padding-top: 100%;
    border-radius: 50%;
    /* background-color: rebeccapurple; */
}

.action {
    padding: 16px 0;
}

.control {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.control i {
    font-size: 20px;
}

.control i:hover {
    opacity: 0.8;
}

.btn-toggle-play i {
    font-size: 36px;
    color: red;
}

/* .btn-volume {
    position: relative;
}

.btn-volume input {
    position: absolute;
    top: 40%;
    transform: rotate(270deg);
} */

.progress {
    width: 100%;
}

.footer {
    padding: 0 16px;
    overflow-y: auto;
    height: 179px;
}

.list-song {
    overflow-y: none;
    overflow-x: hidden;
}

.song {
    padding: 8px 8px;
    border-radius: 8px;
    color: #fff;
}

